body {
    font: 300 1em 'Helvetica Neue';
}

div.slider {
    height: 10em;
    width: 30em;
    float: left;

    overflow: hidden;
}

li.slide {
    height: 10em;
    width: 30em;
    background-color: #eee;

    display: block;
    float: left;
}
li.slide:nth-child(2n){
    background-color: #ccc;
}

ul.slide_container {
    width: 90em;
    list-style-type: none;

    padding: 0;
    margin: 0;

}

div.mov {
    height: 10em;
    width: 2em;

    float: left;
    display: table;
}

span.arrow {
    font-size: 2em;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

span.arrow > span {
    color: gray;
}

span.arrow > span:hover {
    cursor: pointer;
    color: black;
}

div.slider_container {
    /*Base div to contain the whole slider*/
    margin: 3em auto;
    width: 34em;
}